body
h1{
    background-color: #EDBF37;
    color: white;
}
h2{
    background-color: #EDBF37;
    color: aliceblue;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}
h3{
 background-color: #F08456;
    color: aliceblue;   
    font-size: 30px;
    text-align: center;
}
h4{
    color: aliceblue;     
    font-size: 30px;
    text-align: center;
    background-color: #F08456;
}
.a{
    background-color: #EDBF37;
    color: aliceblue;
}
h5{
    background-color: #F08456;
    color: aliceblue;      
        font-size: 30px;
}
.b{
    background-color: #EDBF37;
}
h6{
    font-size: 30px;
    background-color: #F08456;
}
.c{
     background-color: #F08456;
    color: aliceblue;
    font-size: 25px;
    text-align: center;   
}
h7{
    color: white;
    background-color: #ED8C37;
    font-size: 30px;
}
.e{
color: rgb(188, 188, 188);
}
.f{
color: green;
}
.g{
color: rgb(81, 81, 214);
}
.o{
color: rgb(123, 39, 203);
}
.q{
color: rgb(212, 181, 0);
}
.w{
color: rgb(190, 0, 0);
}
h67{
    font-size: 30px;
    background-color: darkred;
}
body{
    background-color: #F2E9AC;
}
header{
    background-color: #EDBF37;
}
main{
    background-color: #F08456;
}
p{
    font-size: 25px;
}
table,th,td{
    border: 2px solid black;
    text-align: center;
}
p{
    padding: 20px;
}
